<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <title>Integrated Patient Health System</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') }}">

  <!-- Select2 CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}">

  <!-- Datatables CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/datatables.min.css') }}">

  <!-- Feathericon CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">

  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="main-wrapper">
        <!-- Header -->
        <div class="header">
            <div class="header-left">
                <a href="{{ url_for('index') }}" class="logo">
                    <img src="{{ url_for('static', filename='upec.png') }}" width="130" height="60" alt="">
                    <span>IPHS</span>
                </a>
            </div>

            <a id="toggle_btn" href="javascript:void(0);">
                <img src="{{ url_for('static', filename='img/icons/bar-icon.svg') }}" alt="">
            </a>

            <a id="mobile_btn" class="mobile_btn float-start" href="#sidebar">
                <img src="{{ url_for('static', filename='img/icons/bar-icon.svg') }}" alt="">
            </a>

            <div class="top-nav-search mob-view">
                <form>
                <input type="text" class="form-control" placeholder="Search here">
                <a class="btn"><img src="{{ url_for('static', filename='img/icons/search-normal.svg') }}" alt=""></a>
                </form>
            </div>

            <ul class="nav user-menu float-end">
                <li class="nav-item dropdown has-arrow user-profile-list">
                <a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
                    <div class="user-names">
                    <h5>OYEYEMI DARE</h5>
                    <span>Admin</span>
                    </div>
                    <span class="user-img">
                    <img src="{{ url_for('static', filename='img/user.jpg') }}" alt="Admin">
                    </span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
                    <a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>
                    <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
                </li>

                <li class="nav-item">
                <a href="{{ url_for('settings') }}" class="hasnotifications nav-link" style="color: black;">
                    <img src="{{ url_for('static', filename='img/icons/setting-icon-01.svg') }}" alt=""> Help
                </a>
                </li>
            </ul>

            <div class="dropdown mobile-user-menu float-end">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
                <a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>
                <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
        <!-- /Header -->
    

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="submenu">
                    <a href="javascript:void(0);">
                        <span class="menu-side">
                            <img src="{{ url_for('static', filename='img/icons/menu-icon-01.svg') }}" alt="">
                        </span> 
                        <span> Menu </span> 
                        <span class="menu-arrow"></span>
                    </a>
                    <ul style="display: none;">
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <span> FIle</span> <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('load_data', source='file') }}">Load Data from file</a></li>
                                <li><a href="{{ url_for('load_data', source='db') }}">Load From Database</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <span> View</span> <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('patient_mgm') }}">Data Processing Panel</a></li>
                                <li><a href="{{ url_for('image_processing') }}">Image Processing Panel</a></li>
                                <li><a href="{{ url_for('health') }}">Data Analysis Panel</a></li>
                                <li><a href="{{ url_for('signal') }}">Signal Processing Panel</a></li>
                            </ul>
                        </li>                              
                        <li><a href="{{ url_for('settings') }}">Help</a></li>
                    </ul>
                </li>

                <li class="menu-title">Functionalities</li>
                <li class="submenu">
                    <a href="javascript:void(0);">
                        <i class="fa fa-share-alt"></i> <span>Functionalities</span> <span class="menu-arrow"></span>
                    </a>
                    <ul style="display: block;">
                        <li class="submenu">
                            <a href="javascript:void(0);"><span>Patient Data Management</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('load_data') }}"><span>Load Datasets</span></a></li>
                                <li><a href="{{ url_for('patient_mgm') }}"><span>Manage Database Records</span></a></li>                                        
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="{{ url_for('image_processing') }}"><span>Medical Image Processing</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('img_processing') }}" ><span>Grayscale Conversion</span></a></li>
                                <li><a href="{{ url_for('img_processing') }}"><span>Edge Detection</span></a></li>   
                                <li><a href="{{ url_for('img_processing') }}"><span>Image Difference</span></a></li>                                     
                            </ul>
                        </li>
                        <li class="submenu active">
                            <a href="{{ url_for('health') }}"><span>Health Data Analysis</span> <span class="menu-arrow"></span></a>
                            <ul style="display: block;">
                                <li><a href="{{ url_for('health') }}"><span>Filter Patient Data</span></a></li>
                                <li><a href="{{ url_for('health') }}"><span>Clean Patient Data</span></a></li> 
                                <li><a href="{{ url_for('health') }}"><span>Analyze Patient Health Metrics</span></a></li>                                                                               
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><span>Signal Processing</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="javascript:void(0);"><span>Frequency Domain Analysis</span></a></li> 
                                <li><a href="javascript:void(0);"><span>Time Domain Analysis</span></a></li>
                                <li><a href="javascript:void(0);"><span>Spectrum Analysis</span></a></li>                                      
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>   

            <div class="logout-btn">
                <a href="{{ url_for('logout') }}">
                    <span class="menu-side">
                    <img src="{{ url_for('static', filename='img/icons/logout.svg') }}" alt="">
                    </span>
                    <span>Logout</span>
                </a>
            </div>

            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Dashboard </a></li>
                            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Functionalities </a></li>
                            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                            <li class="breadcrumb-item active">Health Data Analysis Tasks</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="good-morning-blk">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-lg-8 col-xl-8">
                        <div class="morning-user dash-content">
                            <h3 style="color: rgb(73, 3, 196);"><strong>Health Data Analysis Tasks</strong></h3>
                            <p><i class="feather-info me-1"></i>Perform data analysis tasks and learn how filtering, correlation, and time-series analysis work</p><br/>
                            <div class="col-lg-10">
                                <h3 style="color: rgb(55, 0, 158);">📂 <span style="font-size: large; font-weight: bold;">ECG Data Source</span></h3>
                                <small style="color: rgb(155, 3, 175);"><i class="feather-info me-1"></i>Load dataset and check control panel for data analysis operations.</small>

                                <form action="{{ url_for('health_analysis') }}" method="POST" enctype="multipart/form-data">
                                    
                                    <div class="d-flex gap-4 mb-3" style="margin-top: 20px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="sourceType" id="sourceUpload" value="upload" checked onchange="toggleSections()">
                                            <label class="form-check-label" for="sourceUpload">Upload New File</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="sourceType" id="sourceDB" value="database"  onchange="toggleSections()">
                                            <label class="form-check-label" for="sourceDB">Load from Database</label>
                                        </div>
                                    </div>

                                    <div id="dbSection" class="p-3 border rounded bg-light d-flex gap-3 align-items-center">
                                        <label class="form-label fw-medium mb-0" style="white-space: nowrap;">Select Table:</label>
                                        <select class="form-select w-50" name="table_name" id="tableSelect">
                                            <option value="">-- Choose Dataset --</option>
                                            {% for table, meta in datasets.items() %}
                                                <option value="{{ table }}">{{ meta.label }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="button" class="btn btn-primary w-50" onclick="fetchTableMetadata()">
                                            Load Data
                                        </button>
                                    </div>

                                    <div id="uploadSection" class="p-3 border rounded bg-light d-none">
                                        <div class="d-flex align-items-center gap-4" style="margin-top: 5px;">
                                            <input class="form-control flex-grow-1" type="file" name="csv_file" id="signalFileInput" accept=".csv">
                                            <button type="submit" class="btn btn-primary w-50">Load Signal</button>
                                        </div>
                                        <small class="text-muted"><span style="color: rgb(237, 72, 72);"><i class="feather-alert-triangle me-1"></i>Supported format: .csv</span></small>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="metadataDisplay" class="card mt-3 d-none">
                    <div class="card-body">
                        <div class="row g-3">
                            <strong style="font-size: medium; margin-bottom: 10px;">Dataset Information</strong>
                            <div class="d-flex gap-4 flex-nowrap ">
                                <strong>Table Name:</strong><span id="metaName"></span>
                                <strong>Total Rows:</strong><span id="metaRows"></span>
                                <strong>TotalColumns:</strong><span id="metaCols"></span>
                                <strong>Status:</strong> <span class="badge bg-success">Ready for Analysis</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-none" id="analysisPanel">
                <div class="col-md-6 col-sm-6 col-lg-6" style="flex: 0 0 30%; max-width: 30%;">
                    <div class="dash-widget">
                        <div class="dash-content">
                            <h4 style="color: rgb(55, 0, 158);"> 🛠️ <span style="font-size: large;">Control Panel</span></h4>
                            <p style="color: rgb(255, 66, 66);"><i class="feather-info me-1">
                                </i>Follow steps below to analysis data<br> 
                            </p>
                            <hr>
                        </div>
                        
                        <div id="accordion" class="custom-faq mb-3" >
                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingOne" >
                                    <h5 class="accordion-faq m-0">
                                        <a class="text-dark" style="font-size: medium;" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="true">
                                            <i class="mdi mdi-help-circle me-1 text-primary"></i> 
                                            Data Filtering
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <span class="form-label" style="font-size: medium; font-weight: 500; color: rgb(92, 7, 161);">Moving Average Filter</span>
                                        <div class="d-flex align-items-center gap-2 flex-nowrap mb-3" style="margin-top: 5px;">
                                            <span style="font-size: 15px; white-space: nowrap;">Variable:</span>
                                            <select id="signalSelect" class="form-select">
                                                <option value="II" selected>Heart Rhythm</option>
                                                <option value="I" >Blood Pressure</option>
                                                <option value="III">Lateral View</option>
                                            </select>
                                        </div>
                                        <div class="d-flex align-items-center gap-1">
                                            <span class="form-label mb-1" style="font-size: 15px; width: 50%;">Window Size <strong>(<span id="windowVal">5</span>):</strong></span>
                                            <input type="range" style="width: 50%;" class="form-range" min="1" max="50" step="1" value="5" id="windowSize">
                                        </div>
                                        
                                        <div class="d-flex align-items-center gap-1">
                                            <span class="form-label mb-1 mt-2" style="font-size: 15px; width: 70%;">Samples to Load : </span>
                                            <select id="sampleCount" class="form-select mb-2 w-50">
                                                <option value="100" >100</option>
                                                <option value="200" >200</option>
                                                <option value="300" >300</option>
                                                <option value="500" selected>500</option>
                                                <option value="700" >700</option>
                                                <option value="1000" >1,000</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-primary w-100" onclick="applyMovingAverage()">Apply Moving Average</button>
                                        
                                        <hr>

                                        <!-- Outlier Removal -->
                                        <span class="form-label" style="font-size: medium; font-weight: 500; color: rgb(92, 7, 161);">Outlier Removal (IQR)</span>
                                        <div class="d-flex align-items-center gap-3" style="margin-top: 10px;">
                                            <label class="mb-0" style="white-space: nowrap;">Strength (k):</label><span class="badge bg-success" id="iqrKVal">0.7</span>
                                            <input type="range" id="iqrK" class="form-range" min="0.5" max="3.0" step="0.1" value="0.7">
                                            
                                        </div>

                                        <button type="button" class="btn btn-warning mt-2 w-100" onclick="applyOutlierRemoval()">
                                            Remove Outliers
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="accordion-faq m-0">
                                        <a class="text-dark" style="font-size: medium;" data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                            <i class="mdi mdi-help-circle me-1 text-primary"></i> 
                                            Correlation Analysis
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"  data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <small class="text-muted" style="color: rgb(155, 3, 175) !important;">
                                            <i class="feather-info me-1"></i> Select variables, Compute pearson correlation and Visualize relationship.
                                        </small>
                                        <div class="d-flex align-items-center gap-2 mt-2">
                                            <span class="form-label mb-1 mt-2" style="font-size: 15px; width: 60%;">X-axis Variable :</span>
                                            <select id="corrX" class="form-select w-50">
                                                <option value="sex">Gender</option>
                                                <option value="age">Age</option>
                                                <option value="weight">Weight</option>
                                                <option value="height">Height</option>
                                                <option value="bmi">BMI</option>
                                                <option value="trestbps">Blood Pressure</option>
                                                <option value="chol">Cholesterol</option>
                                                <option value="thalach">Max Heart Rate</option>
                                                <option value="oldpeak">Heart Stress</option>
                                            </select>
                                        </div>
                                        <div class="d-flex align-items-center gap-2 mt-2">
                                            <span class="form-label mb-1 mt-2" style="font-size: 15px; width: 60%;">Y-axis Variable :</span>
                                            <select id="corrY" class="form-select w-50">
                                                <option value="sex">Gender</option>
                                                <option value="age">Age</option>
                                                <option value="weight">Weight</option>
                                                <option value="height">Height</option>
                                                <option value="bmi">BMI</option>
                                            </select>
                                        </div>
                                        <div class="d-flex gap-2" style="margin-top: 10px;">
                                            <button class="btn btn-primary w-100" type="button" onclick="computeCorrelation()">
                                                <small>Calc. Correlation</small>
                                            </button>
                                            <button class="btn btn-warning w-100" type="button" onclick="generateHeatmap()">
                                                <small>Calc. Heatmap</small>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end #accordions-->
                        <div class="card-buttons" style="margin-top: 40px;">
                            <a href="javascript: void(0);"  onclick="resetAll()" class="btn btn-danger waves-effect waves-light">Reset</a>
                        </div>
                    </div>
                    <!-- end card-->
                </div>
                <!-- Right: Visualizations -->
                <div class="col-lg-9" style="flex: 0 0 70%; max-width: 70%;">
                <div class="dash-widget mb-3">
                    <div class="dash-content">
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                        <h4 style="color: rgb(55, 0, 158); font-size: large;" class="mb-0">📈 ECG Time-Series Visualization</h4>

                        <div class="btn-group" role="group" aria-label="Raw/Filtered Toggle">
                            <input type="radio" class="btn-check" name="viewMode" id="viewRaw" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="viewRaw" onclick="setViewMode('raw')">Raw</label>

                            <input type="radio" class="btn-check" name="viewMode" id="viewFiltered" autocomplete="off">
                            <label class="btn btn-outline-primary" for="viewFiltered" onclick="setViewMode('filtered')">Filtered</label>

                            <input type="radio" class="btn-check" name="viewMode" id="viewBoth" autocomplete="off">
                            <label class="btn btn-outline-primary" for="viewBoth" onclick="setViewMode('both')">Both</label>
                        </div>
                    </div>

                    <div class="mt-2" style="font-size: 13px;">
                        <canvas id="timeSeriesChart" height="300px"></canvas>
                    </div>

                    <div class="mt-3" >
                        <span id="fsLabel" style="display: none;"></span>
                        <span id="nLabel" style="display: none;"></span>
                        <span id="leadLabel" style="display: none;"></span>

                        <p id="operationName"
                            style="font-weight: bold;
                                    color: rgb(194, 3, 194);
                                    font-family: Consolas, monospace;
                                    margin-top: 10px;">
                        </p>
                        
                    </div>
                    </div>
                </div>

                <!-- Heatmap/Scatter placeholders -->
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="dash-widget">
                            <div class="dash-content">
                                <h4 style="color: blueviolet;" class="mb-1">Scatter Plot</h4>
                                <div id="corrResult" class="hr-chip d-none"></div>
                                <div class="mt-3" style="height: 320px; position: relative;">
                                    <canvas id="corrScatter"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dash-widget">
                            <div class="dash-content">
                                <h4 style="color: blueviolet;" class="mb-1"> Correlation Heatmap</h4>
                                <small class="text-muted"><i class="feather-info me-1"></i> Pearson correlation matrix for selected variables.</small>
                                <div class="mt-3" id="heatmapContainer" style="height: 320px; overflow:auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                </div><!-- /Right -->
            </div>
        </div>
    <!-- /Page Wrapper -->
    </div>

  <div class="sidebar-overlay" data-reff=""></div>

  <!-- Scripts -->
   
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>

  <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

  <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/datatables.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

<script>

let chart = null;
let cachedRaw = null;
let cachedFiltered = null;
let cachedFs = null;
let cachedLead = "II";
let viewMode = "raw";
let lastWindowSize = null;
let activeFilterLabel = null;
let selectedTableName = null;    
let scatterChart = null;
let numericColumns = [];


// file input change event 
document.querySelectorAll('input[name="sourceType"]').forEach((elem) => {
    elem.addEventListener("change", function(event) {
        const dbSection = document.getElementById("dbSection");
        const uploadSection = document.getElementById("uploadSection");
        const metadataDisplay = document.getElementById("metadataDisplay");

        if (event.target.value === "database") {
            dbSection.classList.remove("d-none");
            uploadSection.classList.add("d-none");
            analysisPanel.classList.add("d-none"); 
        } else {
            dbSection.classList.add("d-none");
            uploadSection.classList.remove("d-none");
            metadataDisplay.classList.add("d-none"); 
            analysisPanel.classList.add("d-none");
        }
    });
});

// handle file source option
function loadSignalOperation() {
    // 1. Determine which source is active
    const sourceType = document.querySelector('input[name="sourceType"]:checked').value;
    
    // 2. Create a FormData object to send to Flask
    const formData = new FormData();
    formData.append('source_type', sourceType);

    if (sourceType === 'database') {
        const tableName = document.getElementById('tableSelect').value;
        if (!tableName) return alert("Please select a table");
        formData.append('table_name', tableName);
    } else {
        const fileInput = document.getElementById('signalFileInput');
        if (fileInput.files.length === 0) return alert("Please select a file");
        formData.append('csv_file', fileInput.files[0]);
    }

    // 3. Send to Flask using Fetch API
    fetch("{{ url_for('health_analysis') }}", { 
        method: "POST",
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if(data.success) {
            alert("Data Loaded Successfully!");
        } else {
            alert("Error: " + data.message);
        }
    })
    .catch(error => console.error('Error:', error));
}

// toggle sections based on source type
function toggleSections() {
    const isDB = document.getElementById('sourceDB').checked;
    document.getElementById('dbSection').classList.toggle('d-none', !isDB);
    document.getElementById('uploadSection').classList.toggle('d-none', isDB);
    
    // Clear inputs when switching
    if(isDB) document.getElementById('signalFileInput').value = '';
    else document.getElementById('tableSelect').selectedIndex = 0;
}

// fetch metadata for selected table
function fetchTableMetadata() {
    const tableName = document.getElementById('tableSelect').value;
    if (!tableName) {
        alert("Please select a table first.");
        return;
    }

    // Call a new route specifically for getting metadata
    fetch(`/get-metadata/${tableName}`)
        .then(response => response.json())
        .then(async(data) => {
            console.log("METADATA RESPONSE:", data);
            // Fill the metadata placeholder with real data
            document.getElementById('metaName').innerText = data.name;
            document.getElementById('metaRows').innerText = data.row_count;
            document.getElementById('metaCols').innerText = data.cols_count;
            
            // Make the card visible
            document.getElementById('metadataDisplay').classList.remove('d-none');
            document.getElementById('analysisPanel').classList.remove('d-none');

            //Load ECG raw data
            await loadRawFromServer();

            selectedTableName = document.getElementById("tableSelect").value;
            await loadNumericColumnsForCorrelation(selectedTableName);

            // Force Raw view and update toggle UI
            viewMode = "raw";
            document.getElementById("viewRaw").checked = true;

            // Draw chart
            refreshChart();
            
        })
        .catch(error => console.error('Error:', error));
}

// populate variable selectors after data load
function onDataLoaded(metadata) {
    document.getElementById("metadataDisplay").classList.remove("d-none");
    document.getElementById("analysisPanel").classList.remove("d-none");

    populateVariableSelectors(metadata.columns);
}


  // Load raw ECG 
  async function loadRawFromServer() {
    const lead = cachedLead || document.getElementById("signalSelect").value;
    const samples = parseInt(document.getElementById("sampleCount").value, 10);

    const res = await fetch(
        `/api/ecg/demo?lead=${encodeURIComponent(lead)}&sampfrom=0&sampto=${samples}`
    );

    const data = await res.json();
    if (!data.success) {
        alert(data.message);
        return;
    }

    cachedFs = data.fs;
    cachedRaw = data.raw;
    cachedFiltered = null;

    document.getElementById("fsLabel").innerText = cachedFs.toFixed(0);
    document.getElementById("nLabel").innerText = cachedRaw.length;
    document.getElementById("leadLabel").innerText = data.lead;

    typeWriterHTML("operationName", `
        Raw ECG Signal Loaded<br>
        <small class="text-muted">
            Sampling rate: <strong>${cachedFs.toFixed(0)} Hz</strong> |
            Loaded samples: <strong>${cachedRaw.length}</strong> |
            Current lead: <strong>${data.lead}</strong>
        </small>
    `, 20);

}

  // Apply moving average filter
  async function applyMovingAverage() {

    if (!cachedRaw) {
      await loadRawFromServer();
    }


    const windowSize = parseInt(document.getElementById("windowSize").value, 10);
    if (windowSize !== lastWindowSize) {
        typeWriterHTML("operationName", `
            Moving Average Filter Applied<br>
            <small class="text-muted">
            Smoothing Window: <strong>${windowSize} (samples)</strong> |
            Sampling rate: <strong>${cachedFs.toFixed(0)} Hz</strong> |
            Lead: <strong>${cachedLead}</strong>
            </small>
        `, 20);
        lastWindowSize = windowSize;
    }

    const res = await fetch("/api/filter/moving-average", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ raw: cachedRaw, window: windowSize })
    });

    const data = await res.json();
    if (!data.success) {
      alert("Filter error: " + (data.message || "Unknown"));
      return;
    }

    cachedFiltered = data.filtered;
    activeFilterLabel = "Filtered (Moving Average)";

    // Switch to "both" view
    setViewMode("both");
    document.getElementById("viewBoth").checked = true;

    refreshChart();

    }

  function resetFilter() {
    cachedFiltered = null;
    setViewMode("raw");
    document.getElementById("viewRaw").checked = true;
    refreshChart();
  }

  function setViewMode(mode) {
    viewMode = mode;
    refreshChart();
  }


  // Chart rendering
  function buildLabels(n, fs) {

    const labels = new Array(n);
    for (let i = 0; i < n; i++) labels[i] = i / fs;
    return labels;
  }

    function buildPoints(yArr, fs) {
        return yArr.map((y, i) => ({ x: i / fs, y }));
    }

    function refreshChart() {
        console.log("cachedFs:", cachedFs, "len:", cachedRaw?.length, "first10:", cachedRaw?.slice(0,10));

        if (!cachedRaw || !cachedFs) return;

        // Build {x,y} points for a true numeric (linear) x-axis
        const rawPoints = buildPoints(cachedRaw, cachedFs);
        const filteredPoints = cachedFiltered ? buildPoints(cachedFiltered, cachedFs) : null;

        const datasets = [];

        if (viewMode === "raw" || viewMode === "both") {
            datasets.push({
                label: "Raw",
                data: rawPoints,
                borderWidth: 2,
                pointRadius: 0,
                tension: 0
            });
        }

        if ((viewMode === "filtered" || viewMode === "both") && filteredPoints) {
            datasets.push({
                label: activeFilterLabel || "Filtered",
                data: filteredPoints,
                borderWidth: 2,
                pointRadius: 0,
                tension: 0
            });
        }

        // If user selects filtered but none exists, fallback to raw
        if (datasets.length === 0) {
            datasets.push({
            label: "Raw",
            data: rawPoints,
            borderWidth: 2,
            pointRadius: 0,
            tension: 0
            });
        }

        const ctx = document.getElementById("timeSeriesChart").getContext("2d");

        if (chart) {
            chart.data.datasets = datasets;
            chart.update();
            return;
        }

        chart = new Chart(ctx, {
            type: "line",
            data: { datasets }, 
            options: {
            responsive: true,
            maintainAspectRatio: false,
            animation: false,
            parsing: false,
            interaction: { mode: "nearest", intersect: false },
            plugins: {
                legend: { display: true, position: "top" }
            },
            scales: {
                x: {
                type: "linear",
                title: { display: true, text: "Time (s)" },
                ticks: {
                    maxTicksLimit: 10,
                    callback: (value) => Number(value).toFixed(1)
                }
                },
                y: {
                title: { display: true, text: "Amplitude" },
                ticks: { maxTicksLimit: 6 }
                }
            }
            }
        });
    }



//UI / UX LOGIC
document.addEventListener("DOMContentLoaded", function () {
    toggleSections();

    /* --- Accordion active state --- */
    const accordionItems = [
        { collapse: "collapseOne", header: "headingOne" },
        { collapse: "collapseTwo", header: "headingTwo" },
        { collapse: "collapseThree", header: "headingThree" }
    ];

    accordionItems.forEach(item => {
        const collapseEl = document.getElementById(item.collapse);
        const headerEl = document.getElementById(item.header);

        if (!collapseEl || !headerEl) return;

        collapseEl.addEventListener("shown.bs.collapse", () => {
            headerEl.classList.add("accordion-active");
        });

        collapseEl.addEventListener("hidden.bs.collapse", () => {
            headerEl.classList.remove("accordion-active");
        });
    });

    // Window size label
    document.getElementById("windowSize").addEventListener("input", (e) => {
    document.getElementById("windowVal").innerText = e.target.value;
    });

    document.getElementById("windowSize").addEventListener(
    "input",
    debounce(async () => {
        if (!cachedRaw) return;
        await applyMovingAverage();
    }, 300)
    );


});


document.getElementById("signalSelect").addEventListener("change", async () => {
  cachedLead = document.getElementById("signalSelect").value;
  cachedFiltered = null;
  await loadRawFromServer();
  refreshChart();
});


function updateViewToggleState() {
  const hasFiltered = !!cachedFiltered;
  document.getElementById("viewFiltered").disabled = !hasFiltered;
  document.getElementById("viewBoth").disabled = !hasFiltered;
}


// update slider labels
document.getElementById("iqrK")?.addEventListener("input", (e) => {
  document.getElementById("iqrKVal").innerText = e.target.value;
});

document.getElementById("windowSize")?.addEventListener("input", (e) => {
  document.getElementById("windowVal").innerText = e.target.value;
});

// Apply outlier removal (IQR clipping)
async function applyOutlierRemoval() {
  // checking if raw is loaded
  if (!cachedRaw) {
    await loadRawFromServer();
  }

  const k = parseFloat(document.getElementById("iqrK").value);

  const res = await fetch("/api/filter/remove-outliers", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      raw: cachedRaw,
      method: "iqr",
      k: k
    })
  });

  const data = await res.json();
  if (!data.success) {
    alert("Outlier filter error: " + (data.message || "Unknown"));
    return;
  }

  cachedFiltered = data.filtered;
  activeFilterLabel = "Filtered (Outlier Removal)";

  // Show comparison immediately
  setViewMode("both");
  document.getElementById("viewBoth").checked = true;
  refreshChart();

  // typed status
  typeWriterHTML("operationName", `
    Outlier Removal Applied (Interquartile Range -IQR) <br/>
    <small class="text-muted">
      k: ${k.toFixed(1)} |
      Sampling rate: ${cachedFs.toFixed(0)} Hz |
      Lead: ${cachedLead}<br/>
      Lower k removes more extreme values. Very small k may distort ECG peaks.
    </small>
  `, 20);
}

// load numeric columns for correlation analysis
async function loadNumericColumnsForCorrelation(tableName) {
  const res = await fetch(`/api/metadata/columns?table=${encodeURIComponent(tableName)}`);
  const data = await res.json();

  if (!data.success) {
    alert("Failed to load correlation columns: " + (data.message || "Unknown"));
    return;
  }

  numericColumns = data.columns || [];

  const xSel = document.getElementById("corrX");
  const ySel = document.getElementById("corrY");

  // overwrite hardcoded HTML options
  xSel.innerHTML = "";
  ySel.innerHTML = "";

  // Friendly labels (UI)
  const labels = {
    sex: "Gender",
    age: "Age",
    weight: "Weight",
    height: "Height",
    bmi: "BMI",
    trestbps: "Blood Pressure",
    chol: "Cholesterol",
    thalach: "Max Heart Rate",
    oldpeak: "Heart Stress"
  };

  numericColumns.forEach(col => {
    const optX = document.createElement("option");
    optX.value = col;
    optX.textContent = labels[col] || col;

    const optY = document.createElement("option");
    optY.value = col;
    optY.textContent = labels[col] || col;

    xSel.appendChild(optX);
    ySel.appendChild(optY);
  });

  // sensible defaults
  if (numericColumns.includes("age")) xSel.value = "age";
  if (numericColumns.includes("thalach")) ySel.value = "thalach";
}


// compute correlation and plot scatter
async function computeCorrelation() {
  if (!selectedTableName) return alert("Please load a dataset first.");
  const xVar = document.getElementById("corrX").value;
  const yVar = document.getElementById("corrY").value;

  if (!xVar || !yVar) return alert("Please select both X and Y variables.");
  if (xVar === yVar) return alert("Please select two different variables.");

  const url = `/api/metadata/correlation?table=${encodeURIComponent(selectedTableName)}&x=${encodeURIComponent(xVar)}&y=${encodeURIComponent(yVar)}`;
  const res = await fetch(url);
  const data = await res.json();

  if (!data.success) {
    alert(data.message || "Correlation failed.");
    return;
  }

  // Show numeric result
  const r = data.r;
  const n = data.n;
  const strength =
    Math.abs(r) < 0.2 ? "Very weak" :
    Math.abs(r) < 0.4 ? "Weak" :
    Math.abs(r) < 0.6 ? "Moderate" :
    Math.abs(r) < 0.8 ? "Strong" : "Very strong";
  const direction = r >= 0 ? "positive" : "negative";

  const resultBox = document.getElementById("corrResult");
  resultBox.classList.remove("d-none");
  resultBox.innerHTML = `
    <strong>Pearson correlation (r):</strong> ${r.toFixed(3)} <br>
    <strong>Interpretation:</strong> ${strength} ${direction} correlation
  `;

  // Scatter points
  const points = data.x_values
    .map((x, i) => ({ x: Number(x), y: Number(data.y_values[i]) }))
    .filter(p => Number.isFinite(p.x) && Number.isFinite(p.y));

  if (points.length === 0) {
    alert("No valid numeric points to plot (NaN/Infinity detected).");
    return;
  }


  renderScatter(points, xVar, yVar);
}

function renderScatter(points, xLabel, yLabel) {
  const ctx = document.getElementById("corrScatter").getContext("2d");
  const line = regressionLine(points);

  if (scatterChart) {
    scatterChart.destroy();
  }

  scatterChart = new Chart(ctx, {
    type: "scatter",
    data: {
        datasets: [
        { label: `Points: ${xLabel} vs ${yLabel}`, data: points, pointRadius: 3 },
        { type: "line", label: "Trend", data: line, pointRadius: 0, borderWidth: 2 }
        ]
    }, 
    options: {
      responsive: true,
      maintainAspectRatio: false,
      parsing: false,
      plugins: { legend: { display: true } },
      scales: {
        x: { title: { display: true, text: xLabel } },
        y: { title: { display: true, text: yLabel } }
      }
    }
  });
}

// regression line
function linearRegression(points) {
  const n = points.length;
  let sumX=0,sumY=0,sumXY=0,sumXX=0;
  for (const p of points) {
    sumX += p.x; sumY += p.y;
    sumXY += p.x * p.y;
    sumXX += p.x * p.x;
  }
  const slope = (n * sumXY - sumX * sumY) / (n * sumXX - sumX * sumX);
  const intercept = (sumY - slope * sumX) / n;
  return { slope, intercept };
}

function regressionLine(points) {
  const xs = points.map(p => p.x);
  const minX = Math.min(...xs);
  const maxX = Math.max(...xs);
  const { slope, intercept } = linearRegression(points);
  return [
    { x: minX, y: slope * minX + intercept },
    { x: maxX, y: slope * maxX + intercept }
  ];
}



// heatmap generation
async function generateHeatmap() {
  if (!selectedTableName) return alert("Please load a dataset first.");
  if (!numericColumns || numericColumns.length < 2) return alert("Not enough numeric columns.");

  // Picking health related columns
  const cols = numericColumns
    .filter(c => ["age","trestbps","chol","thalach","oldpeak","height","weight","bmi"].includes(c))
    .slice(0, 8);

  const params = cols.map(c => `cols=${encodeURIComponent(c)}`).join("&");
  const url = `/api/metadata/corr-matrix?table=${encodeURIComponent(selectedTableName)}&${params}`;

  const res = await fetch(url);
  const data = await res.json();

  if (!data.success) {
    alert(data.message || "Heatmap failed.");
    return;
  }

  renderHeatmapGrid(data.columns, data.matrix);
}

// render heatmap grid
function renderHeatmapGrid(cols, matrix) {
  const container = document.getElementById("heatmapContainer");
  container.innerHTML = "";

  // Legend colorbar
  const legend = document.createElement("div");
  legend.className = "heatmap-legend";
  legend.innerHTML = `
    <small><strong>-1</strong></small>
    <div class="heatmap-bar" title="RdYlGn: red(-1) → yellow(0) → green(+1)"></div>
    <small><strong>+1</strong></small>
  `;
  container.appendChild(legend);

  const table = document.createElement("table");
  table.className = "heatmap-table";

  // THEAD
  const thead = document.createElement("thead");
  const hr = document.createElement("tr");
  const corner = document.createElement("th");
  corner.textContent = "";
  hr.appendChild(corner);

  cols.forEach(c => {
    const th = document.createElement("th");
    th.textContent = c;
    hr.appendChild(th);
  });
  thead.appendChild(hr);
  table.appendChild(thead);

  // TBODY
  const tbody = document.createElement("tbody");

  for (let i = 0; i < cols.length; i++) {
    const tr = document.createElement("tr");

    const rowTh = document.createElement("th");
    rowTh.textContent = cols[i];
    tr.appendChild(rowTh);

    for (let j = 0; j < cols.length; j++) {
      const td = document.createElement("td");
      td.className = "heatmap-cell";

      const v = matrix[i][j];
      const num = (typeof v === "number" && Number.isFinite(v)) ? v : null;

      td.textContent = (num === null) ? "-" : num.toFixed(2); // fmt=".2f"
      td.style.background = (num === null) ? "white" : corrColorRdYlGn(num);
      td.style.color = (num === null) ? "#111" : bestTextColorForBg(num);

      // Bold diagonal like seaborn usually stands out
      if (i === j) td.style.fontWeight = "800";

      tbody.appendChild(tr);
      tr.appendChild(td);
    }
  }

  table.appendChild(tbody);
  container.appendChild(table);
}


// heatmap color
function clamp01(x){ return Math.max(0, Math.min(1, x)); }
function lerp(a,b,t){ return a + (b-a)*t; }
function rgb(r,g,b){ return `rgb(${Math.round(r)},${Math.round(g)},${Math.round(b)})`; }

// Approx RdYlGn stops (good-looking)
const RDYLGN = [
  { t: 0.00, c: [165,   0,  38] }, // red
  { t: 0.25, c: [244, 109,  67] },
  { t: 0.50, c: [255, 255, 191] }, // yellow
  { t: 0.75, c: [166, 217, 106] },
  { t: 1.00, c: [  0, 104,  55] }  // green
];

function interpPalette(t, stops) {
  t = clamp01(t);
  for (let i = 0; i < stops.length - 1; i++) {
    const a = stops[i], b = stops[i+1];
    if (t >= a.t && t <= b.t) {
      const u = (t - a.t) / (b.t - a.t);
      return [
        lerp(a.c[0], b.c[0], u),
        lerp(a.c[1], b.c[1], u),
        lerp(a.c[2], b.c[2], u),
      ];
    }
  }
  return stops[stops.length - 1].c;
}

// v in [-1,1] -> RdYlGn color
function corrColorRdYlGn(v) {
  if (typeof v !== "number" || !Number.isFinite(v)) return "white";
  v = Math.max(-1, Math.min(1, v));
  const t = (v + 1) / 2;  // [-1,1] -> [0,1]
  const [r,g,b] = interpPalette(t, RDYLGN);
  return rgb(r,g,b);
}

function bestTextColorForBg(v) {
  if (typeof v !== "number" || !Number.isFinite(v)) return "#111";
  // darker text near yellow; white text near extremes
  return Math.abs(v) > 0.55 ? "white" : "#111";
}

// end heatmap color

//reset all function
function resetAll() {
     window.location.reload();
}

// save processed button
function saveProcessedImage() {
    // Priority: single image > top image > bottom image
    const img =
        document.getElementById("processedImage").style.display !== "none"
            ? document.getElementById("processedImage")
            : document.getElementById("processedImageTop");

    if (!img || !img.src) {
        alert("No processed image to save.");
        return;
    }

    const link = document.createElement("a");
    link.href = img.src;

    // Use operation name as filename if available
    const opName = document.getElementById("operationName");
    const filename = opName && opName.textContent
        ? opName.textContent.replace(/\s+/g, "_").toLowerCase()
        : "processed_image";

    link.download = filename + ".png";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}


// debounce function
function debounce(fn, delay) {
    let timeout;
    return function (...args) {
        clearTimeout(timeout);
        timeout = setTimeout(() => fn.apply(this, args), delay);
    };
}


//typewriter
function typeWriter(elementId, text, speed = 100) {
    const element = document.getElementById(elementId);
    element.textContent = ""; // clear any existing text
    let i = 0;

    function type() {
        if (i < text.length) {
            element.textContent += text.charAt(i);
            i++;
            setTimeout(type, speed);
        }
    }

    type();
}

//html typewriter
function typeWriterHTML(elementId, htmlString, speed = 50) {
    const element = document.getElementById(elementId);
    element.innerHTML = ""; // clear previous content
    let i = 0;

    function type() {
        if (i < htmlString.length) {
            if (htmlString[i] === "<") {
                // We're at an HTML tag: append entire tag at once
                let endTag = htmlString.indexOf(">", i);
                if (endTag === -1) endTag = i; // fallback
                element.innerHTML += htmlString.substring(i, endTag + 1);
                i = endTag + 1;
            } else {
                element.innerHTML += htmlString.charAt(i);
                i++;
            }
            setTimeout(type, speed);
        }
    }

    type();
}


</script>

</body>

</html>