<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <title>Integrated Patient Health System</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') }}">

  <!-- Select2 CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}">

  <!-- Datatables CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/datatables.min.css') }}">

  <!-- Feathericon CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">

  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="main-wrapper">

    <!-- Header -->
    <div class="header">
      <div class="header-left">
        <a href="{{ url_for('index') }}" class="logo">
          <img src="{{ url_for('static', filename='upec.png') }}" width="130" height="60" alt="">
          <span>IPHS</span>
        </a>
      </div>

      <a id="toggle_btn" href="javascript:void(0);">
        <img src="{{ url_for('static', filename='img/icons/bar-icon.svg') }}" alt="">
      </a>

      <a id="mobile_btn" class="mobile_btn float-start" href="#sidebar">
        <img src="{{ url_for('static', filename='img/icons/bar-icon.svg') }}" alt="">
      </a>

      <div class="top-nav-search mob-view">
        <form>
          <input type="text" class="form-control" placeholder="Search here">
          <a class="btn"><img src="{{ url_for('static', filename='img/icons/search-normal.svg') }}" alt=""></a>
        </form>
      </div>

      <ul class="nav user-menu float-end">
        <li class="nav-item dropdown has-arrow user-profile-list">
          <a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
            <div class="user-names">
              <h5>OYEYEMI DARE</h5>
              <span>Admin</span>
            </div>
            <span class="user-img">
              <img src="{{ url_for('static', filename='img/user.jpg') }}" alt="Admin">
            </span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
            <a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>
            <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </div>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('settings') }}" class="hasnotifications nav-link" style="color: black;">
            <img src="{{ url_for('static', filename='img/icons/setting-icon-01.svg') }}" alt=""> Help
          </a>
        </li>
      </ul>

      <div class="dropdown mobile-user-menu float-end">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
          <a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>
          <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </div>
      </div>
    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
          <ul>
            <li class="menu-title">Main</li>
            <li class="submenu">
                <a href="javascript:void(0);">
                    <span class="menu-side">
                        <img src="{{ url_for('static', filename='img/icons/menu-icon-01.svg') }}" alt="">
                    </span> 
                    <span> Menu </span> 
                    <span class="menu-arrow"></span>
                </a>
                <ul style="display: none;">
                    <li class="submenu">
                        <a href="javascript:void(0);">
                            <span> FIle</span> <span class="menu-arrow"></span>
                        </a>
                        <ul style="display: none;">
                            <li><a href="{{ url_for('load_data', source='file') }}">Load Data from file</a></li>
                            <li><a href="{{ url_for('load_data', source='db') }}">Load From Database</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                      <a href="javascript:void(0);"> <span> View</span> <span class="menu-arrow"></span></a>
                      <ul style="display: none;">
                          <li><a href="{{ url_for('patient_mgm') }}">Data Processing Panel</a></li>
                          <li><a href="{{ url_for('image_processing') }}">Image Processing Panel</a></li>
                          <li><a href="{{ url_for('health') }}">Data Analysis Panel</a></li>
                          <li><a href="{{ url_for('signal') }}">Signal Processing Panel</a></li>
                      </ul>
                    </li>                                
                    <li><a href="{{ url_for('settings') }}">Help</a></li>
                </ul>
            </li>

            <li class="menu-title">Functionalities</li>
            <li class="submenu">
                <a href="javascript:void(0);">
                    <i class="fa fa-share-alt"></i> <span>Functionalities</span> <span class="menu-arrow"></span>
                </a>
                <ul style="display: block;">
                    <li class="submenu">
                        <a href="javascript:void(0);"><span>Patient Data Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="{{ url_for('load_data') }}"><span>Load Datasets</span></a></li>
                            <li><a href="{{ url_for('patient_mgm') }}"><span>Manage Database Records</span></a></li>                                        
                        </ul>
                    </li>
                    <li class="submenu">
                      <a href="{{ url_for('image_processing') }}"><span>Medical Image Processing</span> <span class="menu-arrow"></span></a>
                      <ul style="display: none;">
                          <li><a href="{{ url_for('img_processing') }}"><span>Grayscale Conversion</span></a></li>
                          <li><a href="{{ url_for('img_processing') }}"><span>Edge Detection</span></a></li>   
                          <li><a href="{{ url_for('img_processing') }}"><span>Image Difference</span></a></li>                                     
                      </ul>
                    </li>
                    <li class="submenu">
                        <a href="{{ url_for('health') }}"><span>Health Data Analysis</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="{{ url_for('health') }}"><span>Filter Patient Data</span></a></li>
                            <li><a href="{{ url_for('health') }}"><span>Clean Patient Data</span></a></li> 
                            <li><a href="{{ url_for('health') }}"><span>Analyze Patient Health Metrics</span></a></li>                                                                               
                        </ul>
                    </li>
                    <li class="submenu active">
                        <a href="{{ url_for('signal') }}"><span >Signal Processing</span> <span class="menu-arrow"></span></a>
                        <ul style="display: block;">
                            <li><a href="{{ url_for('signal_processing') }}"><span>Frequency Domain Analysis</span></a></li> 
                            <li><a href="{{ url_for('signal_processing') }}"><span>Time Domain Analysis</span></a></li>
                            <li><a href="{{ url_for('signal_processing') }}"><span>Spectrum Analysis</span></a></li>                                      
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>   

          <div class="logout-btn">
            <a href="{{ url_for('logout') }}">
              <span class="menu-side">
                <img src="{{ url_for('static', filename='img/icons/logout.svg') }}" alt="">
              </span>
              <span>Logout</span>
            </a>
          </div>

        </div>
      </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Dashboard </a></li>
                            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                            <li class="breadcrumb-item active">Help/Documentation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                
							<div class="col-md-12">
								<div class="card bg-white">
									<div class="card-header">
										 <h4 style="color: rgb(55, 0, 158);"> 🧾 <span style="font-size: large; font-weight: 600;">Project Documentation & User Guide</span></h4>
									</div>
									<div class="card-body">
										<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
											<li class="nav-item"><a class="nav-link active" href="#solid-rounded-justified-tab1" data-bs-toggle="tab">Project Overview</a></li>
											<li class="nav-item"><a class="nav-link" href="#solid-rounded-justified-tab2" data-bs-toggle="tab">System Functionalities</a></li>
											<li class="nav-item"><a class="nav-link" href="#solid-rounded-justified-tab3" data-bs-toggle="tab">Navigation & User Interaction</a></li>
                      <li class="nav-item"><a class="nav-link" href="#solid-rounded-justified-tab4" data-bs-toggle="tab">Visual Design & Usability</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane show active" id="solid-rounded-justified-tab1">
                        <p style="color: rgb(110, 12, 208);"><strong> 💻 Master 1 | First Semester Project</strong></p>
												<p>
                          This web application is Integrated Patient Health System (IPHS)  
                          designed to support healthcare professionals, researchers, and students in analyzing patient data, 
                          biomedical signals, and medical images.
                        </p>
                        <p>
                          The application combines data management, 
                          statistical analysis, signal processing, image processing, and visual analytics within a single, 
                          intuitive graphical user interface (GUI).
                        </p>
                        <label style="color: rgb(55, 0, 158); font-weight: 500;"><strong>🌐 Application Layout Overview</strong></label>
                        <p><strong>Login Page</strong></p>
                        <p>Users are greeted with a secure login page requiring valid credentials to access the system.
                          Upon successful authentication, users are directed to the main dashboard.</p>
                        <p><strong>Main Window Structure</strong></p>
                        <p>The application window is divided into three primary areas:</p>
                        
                        <p><strong>Sidebar Navigation (Left Panel)</strong></p>
                        <p>The sidebar provides quick access to all major functionalities:</p>
                        <ul>
                          <li>Patient Data Management</li>
                          <li>Health Data Analysis</li>
                          <li>Spectrum Analysis</li>
                          <li>Medical Image Processing</li>
                        </ul>
                        <p><strong>Functionalities Content Area</strong></p>
                        <p>This area dynamically displays:</p>
                        <ul>
                          <li>Data tables</li>
                          <li>Charts and plots</li>
                          <li>Signal waveforms</li>
                          <li>Medical images</li>
                          <li>Analysis results</li>
                        </ul>
                        <p>Each feature opens within its own dedicated tab for clarity and workflow separation.</p>

											</div>
											<div class="tab-pane" id="solid-rounded-justified-tab2">
												<p style="color: rgb(110, 12, 208);"><strong> 🛠️ Functionalities Tabs and How to Use (Navigate)</strong></p>
												<p><strong>📂 Data Loading and Management</strong></p>
                        <p>
                          This functionality tab handles data ingestion, storage, and database operations.
                        </p>
                        <p><strong>Loading Data</strong></p>
                        <p>Users can load data from:</p>
                        <ul>
                          <li>Local files (CSV, Excel)</li>
                          <li>Databases (SQL)</li>
                        </ul>
                        <p>Once loaded, data is displayed in interactive tables with options to sort, filter, and search records.</p>
                        <p><strong>Managing Data</strong></p>
                        <p>Users can add, edit, or delete patient records directly within the application.
                          Changes can be saved back to the database to ensure data integrity.</p>
                        <p><strong>Steps:</strong></p>
                        <ol type="1">
                          <li>Navigate to the "Patient Data Management" tab via the sidebar.</li>
                          <li>Select "Load Data" to import datasets.</li>
                          <li>Use the table interface to manage records as needed.</li>
                        </ol>

                        <hr>

                        <label style="color: rgb(55, 0, 158); font-weight: 500;"><strong>Database Operations</strong></label>
                        <p>Available actions:</p>
                        <ul>
                            <li><strong>Insert New Data</strong>Add new patient records or image metadata</li>
                            <li><strong>Retrieve Data</strong>Fetch existing records from the database</li>
                            <li><strong>Update Data</strong> Modify selected patient or image records</li>
                            <li><strong>Delete Data</strong>Remove selected records</li>
                        </ul>
                        <p>Each action provides confirmation messages or error prompts where applicable.</p>
                        <p><strong>Table View</strong></p>
                        <p>The system provides a robust data display with the following features:</p>
                        <ul>
                            <li>Displays loaded or retrieved data</li>
                            <li>Supports scrolling for large datasets</li>
                            <li>Enables row selection for update or deletion</li>
                        </ul>

                        <hr>

                        <label style="color: rgb(210, 11, 11); font-weight: 500;"><strong>🩺 Health Data Analysis</strong></label>
                        <p>This tab focuses on statistical and exploratory analysis of patient health metrics.</p>
                        <p><strong>Data Filtering</strong></p>
                        <p>Users can:</p>
                        <ul>
                          <li>Select health variables (e.g., heart rate, blood pressure)</li>
                          <li>Apply filters such as: Moving average, Noise reduction, Outlier removal</li>
                          <li>Adjust parameters using sliders</li>
                        </ul>

                        <label style="color: rgb(0, 9, 128); font-weight: 500;"><strong>Correlation Analysis</strong></label>
                        <p><strong>Steps:</strong></p>
                        <ol type="1">
                          <li>Select two health metrics from dropdown menus</li>
                          <li>Click Compute Correlation</li>
                          <li>View: Correlation coefficient, Scatter plot, and Correlation heatmap</li>
                        </ol>
                        <p>This helps identify relationships between physiological parameters.</p>

                        <label style="color: rgb(6, 143, 32); font-weight: 500;"><strong>Time-Series Visualization</strong></label>
                        <ul>
                          <li>Plot health data over time</li>
                          <li>Toggle between raw and filtered signals</li>
                          <li>Useful for trend analysis and anomaly detection</li>
                        </ul>
                        <p>This helps identify relationships between physiological parameters.</p>

                        <hr>

                        <label style="color: rgb(210, 11, 11); font-weight: 500;"><strong>📶 Signal Analysis</strong></label>
                        <p>This tab enables frequency-domain analysis of biomedical signals.</p>
                        <p><strong>Signal Loading</strong></p>
                        <p>Users can:</p>
                        <ul>
                          <li>Select ECG, EEG, or other biomedical signals</li>
                          <li>Raw signal waveform is displayed immediately</li>
                        </ul>
                        <p><strong>FFT Spectrum Analysis</strong></p>
                        <p><strong>Steps:</strong></p>
                        <ul>
                          <li>Select a signal</li>
                          <li>Choose FFT parameters (e.g., window size)</li>
                          <li>Add Noise (Gaussian, etc)</li>
                          <li>Click Compute FFT</li>
                          <li>View: Frequency spectrum | Power spectrum</li>
                        </ul>
                        <p>Sliders allow selection of specific time windows or signal segments.</p>

                        <hr>

                        <label style="color: rgb(0, 9, 128); font-weight: 500;"><strong>🖼️ Medical Image Processing</strong></label>
                        <p>This tab supports image processing such as enhancement, segmentation, grayscale, and many more for medical imaging.</p>
                        <p><strong>Image Loading</strong></p>
                        <ul>
                          <li>Upload X-ray, MRI, or CT images</li>
                          <li>Original image appears on the middle panel</li>
                          <li>Processed image appears on the right panel</li>
                        </ul>
                        <p>The functionality buttons allow users to apply various image processing techniques.</p>

                        <p><strong>Image Processing Operations</strong></p>
                        <p>Available operations include:</p>
                        <ul>
                          <li>Grayscale Conversion</li>
                          <li>Smoothing / Blurring</li>
                          <li>Edge Detection (Canny)</li>
                          <li>Image Difference</li>
                          <li>Difference</li>
                          <li>Thresholding</li>
                          <li>Histogram Equalization</li>
                        </ul>
                        <p>Processed images appear on the right for side-by-side comparison. There is also a "Save" button to save the processed image.</p>

											</div>

											<div class="tab-pane" id="solid-rounded-justified-tab3">
												<label style="color: rgb(0, 9, 128); font-weight: 500;"><strong>Sidebar Navigation</strong></label>
                        <ul>
                          <li>One-click switching between modules</li>
                          <li>Active section is visually highlighted</li>
                        </ul>

                        <p><strong>Dynamic Controls</strong></p>
                        <ul>
                          <li>Controls update automatically based on selected data</li>
                          <li>Analysis options are context-aware</li>
                        </ul>
                        <p><strong>Reset and Error Handling</strong></p>
                        <ul>
                          <li>Data fails to load</li>
                          <li>Database operations fail</li>
                          <li>Invalid inputs are selected</li>
                          <li>Reset buttons clear selections and plots</li>
                          <li>Error messages guide users to resolve issues</li>
                        </ul>
											</div>
                      <div class="tab-pane" id="solid-rounded-justified-tab4">
												<label style="color: rgb(210, 11, 11); font-weight: 500;"><strong>Visual Design & Usability</strong></label>
                        <p><strong>Consistent Theming and Color Scheme</strong></p>
                        <ul>
                          <li>Uniform colors and fonts across all tabs</li>
                          <li>Enhances user familiarity and comfort</li>
                          <li>Color cues: Green = successful actions | Red = errors | Yellow = warnings</li>
                        </ul>
                        <p><strong>Accessibility Features</strong></p>
                        <ul>
                          <li>Tooltips on hover for buttons and controls</li>
                          <li>Responsive layout for different screen sizes</li>
                        </ul>
                        <p><strong>Intuitive Layouts</strong></p>
                        <ul>
                          <li>Logical grouping of related controls</li>
                          <li>Minimizes cognitive load</li>
                          <li>Clear labels and instructions</li>
                        </ul>
                        <p><strong>Performance and Reliability</strong></p>
                        <ul>
                          <li>Optimized data handling for large datasets</li>
                          <li>Robust error handling to prevent crashes</li>
                          <li>Non-blocking FFT and image operations</li>
                          <li>Optimized memory usage for large images and tables</li>
                        </ul>
                        <p>These design choices ensure a smooth and efficient user experience.</p>
                        <hr>
                        <p><strong>Remarks</strong></p>
                        <p>The application has been extensively tested for stability.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
            </div>
        </div>
    <!-- /Page Wrapper -->
    </div>

  <div class="sidebar-overlay" data-reff=""></div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>

  <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

  <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/datatables.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>