<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <title>Integrated Patient Health System</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') }}">

  <!-- Select2 CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select2.min.css') }}">

  <!-- Datatables CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/datatables.min.css') }}">

  <!-- Feathericon CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">

  <!-- Main CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="main-wrapper">
        <!-- Header -->
        <div class="header">
            <div class="header-left">
                <a href="{{ url_for('index') }}" class="logo">
                    <img src="{{ url_for('static', filename='upec.png') }}" width="130" height="60" alt="">
                    <span>IPHS</span>
                </a>
            </div>

            <a id="toggle_btn" href="javascript:void(0);">
                <img src="{{ url_for('static', filename='img/icons/bar-icon.svg') }}" alt="">
            </a>

            <a id="mobile_btn" class="mobile_btn float-start" href="#sidebar">
                <img src="{{ url_for('static', filename='img/icons/bar-icon.svg') }}" alt="">
            </a>

            <div class="top-nav-search mob-view">
                <form>
                <input type="text" class="form-control" placeholder="Search here">
                <a class="btn"><img src="{{ url_for('static', filename='img/icons/search-normal.svg') }}" alt=""></a>
                </form>
            </div>

            <ul class="nav user-menu float-end">
                <li class="nav-item dropdown has-arrow user-profile-list">
                <a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
                    <div class="user-names">
                    <h5>OYEYEMI DARE</h5>
                    <span>Admin</span>
                    </div>
                    <span class="user-img">
                    <img src="{{ url_for('static', filename='img/user.jpg') }}" alt="Admin">
                    </span>
                </a>
                </li>

                <li class="nav-item">
                <a href="{{ url_for('settings') }}" class="hasnotifications nav-link" style="color: black;">
                    <img src="{{ url_for('static', filename='img/icons/setting-icon-01.svg') }}" alt=""> Help
                </a>
                </li>
            </ul>

            <div class="dropdown mobile-user-menu float-end">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
                <a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>
                <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
        <!-- /Header -->
    

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="submenu">
                    <a href="javascript:void(0);">
                        <span class="menu-side">
                            <img src="{{ url_for('static', filename='img/icons/menu-icon-01.svg') }}" alt="">
                        </span> 
                        <span> Menu </span> 
                        <span class="menu-arrow"></span>
                    </a>
                    <ul style="display: none;">
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <span> FIle</span> <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('load_data', source='file') }}">Load Data from file</a></li>
                                <li><a href="{{ url_for('load_data', source='db') }}">Load From Database</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <span> View</span> <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('patient_mgm') }}">Data Processing Panel</a></li>
                                <li><a href="{{ url_for('image_processing') }}">Image Processing Panel</a></li>
                                <li><a href="{{ url_for('health') }}">Data Analysis Panel</a></li>
                                <li><a href="{{ url_for('signal') }}">Signal Processing Panel</a></li>
                            </ul>
                        </li>                              
                        <li><a href="{{ url_for('settings') }}">Help</a></li>
                    </ul>
                </li>

                <li class="menu-title">Functionalities</li>
                <li class="submenu">
                    <a href="javascript:void(0);">
                        <i class="fa fa-share-alt"></i> <span>Functionalities</span> <span class="menu-arrow"></span>
                    </a>
                    <ul style="display: block;">
                        <li class="submenu">
                            <a href="javascript:void(0);"><span>Patient Data Management</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('load_data') }}"><span>Load Datasets</span></a></li>
                                <li><a href="{{ url_for('patient_mgm') }}"><span>Manage Database Records</span></a></li>                                        
                            </ul>
                        </li>
                        <li class="submenu active">
                            <a href="{{ url_for('image_processing') }}"><span>Medical Image Processing</span> <span class="menu-arrow"></span></a>
                            <ul style="display: block;">
                                <li><a href="{{ url_for('img_processing') }}" ><span>Grayscale Conversion</span></a></li>
                                <li><a href="{{ url_for('img_processing') }}"><span>Edge Detection</span></a></li>   
                                <li><a href="{{ url_for('img_processing') }}"><span>Image Difference</span></a></li>                                     
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="{{ url_for('health') }}"><span>Health Data Analysis</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('health') }}"><span>Filter Patient Data</span></a></li>
                                <li><a href="{{ url_for('health') }}"><span>Clean Patient Data</span></a></li> 
                                <li><a href="{{ url_for('health') }}"><span>Analyze Patient Health Metrics</span></a></li>                                                                               
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><span>Signal Processing</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('signal_processing') }}"><span>Frequency Domain Analysis</span></a></li> 
                                <li><a href="{{ url_for('signal_processing') }}"><span>Time Domain Analysis</span></a></li>
                                <li><a href="{{ url_for('signal_processing') }}"><span>Spectrum Analysis</span></a></li>                                      
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>   

            <div class="logout-btn">
                <a href="{{ url_for('logout') }}">
                    <span class="menu-side">
                    <img src="{{ url_for('static', filename='img/icons/logout.svg') }}" alt="">
                    </span>
                    <span>Logout</span>
                </a>
            </div>

            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Dashboard </a></li>
                            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Functionalities </a></li>
                            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
                            <li class="breadcrumb-item active">Image Processing Tasks</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="good-morning-blk">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-lg-8 col-xl-8">
                        <div class="morning-user dash-content">
                            <h3 style="color: rgb(73, 3, 196);"><strong>Image Processing Tasks</strong></h3>
                            <p><i class="feather-info me-1"></i>On this page you can perform image processing tasks.</p><br/>
                            <p style="color: rgb(87, 87, 87);">Upload image and check control panel for image processing options to get started. <i style="color: rgb(237, 72, 72);">*</i></p>
                            <div class="d-flex gap-2">
                                <input class="form-control" type="file" name="image" required id="fileInput" accept="image/*" multiple>
                                <button class="btn btn-primary w-50" onclick="showPreview()">
                                    Preview Image
                                </button>
                            </div>
                            <small class="text-muted">
                                <span style="color: rgb(237, 72, 72);"><i class="feather-alert-triangle me-1"></i>Supported format: .jpg, .png, .jpeg, .bmp</span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6" style="flex: 0 0 28%; max-width: 28%;">
                    <div class="dash-widget">
                        <div class="dash-content">
                            <h4 style="color: rgb(55, 0, 158);"> 🛠️ <span style="font-size: large;">Control Panel</span></h4>
                            <p><i class="feather-info me-1"></i>Follow steps to process image.<br> 
                                <span style="color: rgb(255, 66, 66);">Note: Operation buttons are activated upon image upload.</span>
                            </p>
                            <hr>
                        </div>
                        <div id="accordion" class="custom-faq mb-3" >
                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingOne" >
                                    <h5 class="accordion-faq m-0">
                                        <a class="text-dark" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="true">
                                            <i class="mdi mdi-help-circle me-1 text-primary"></i> 
                                            Grayscale Operation
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <small class="text-muted" style="font-size: small;"><i class="feather-info me-1"></i>Converts the image to intensity values</small><br/><br/>
                                        <a href="javascript: void(0);" onclick="convertToGrayscale()" title="Upload an image first" class="btn btn-primary operation-btn waves-effect waves-light" data-requires="one">Convert to Grayscale</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="accordion-faq m-0">
                                        <a class="text-dark" data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                            <i class="mdi mdi-help-circle me-1 text-primary"></i> 
                                            Blur Operation
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"  data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <small class="text-muted" style="font-size: small;"><i class="feather-info me-1"></i>
                                            Apply different blur filters<br>
                                            Gaussian = smooth noise<br>
                                            Median = remove salt-and-pepper noise<br>
                                            Bilateral = preserve edges
                                        </small><br/>
                                        <select name="blurFilter" id="blurFilter" class="form-control select" required>
                                            <option value="" disabled selected>Select Blur Filter</option>
                                            <option value="average">Average Blur</option>
                                            <option value="gaussian">Gaussian Blur</option>
                                            <option value="median">Median Blur</option>
                                            <option value="bilateral">Bilateral Filter</option>
                                        </select>
                                        <div class="d-flex gap-3" style="margin-top: 8px; align-items: center; white-space: nowrap;">
                                            <label for="blurKernel" style="font-size: small; margin-bottom: 0;">
                                                Blur Level (Kernel Size): <strong><span id="kernelValue">5</span></strong>
                                            </label>
                                            <input type="range" class="form-range flex-grow-1" min="3" max="21" step="2" value="5" id="blurKernel" disabled>
                                        </div>
                                        

                                        <a href="javascript: void(0);" style="margin-top: 15px;" onclick="applyBlur()" title="Upload an image first" class="btn btn-primary operation-btn waves-effect waves-light" data-requires="one">Filter Image</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingThree">
                                    <h5 class="accordion-faq m-0">
                                        <a class="text-dark" data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false">
                                            <i class="mdi mdi-help-circle me-1 text-primary"></i> 
                                            Edge Detection (Canny)
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"  data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <small class="text-muted"><i class="feather-info me-1" style="font-size: small;"></i>Highlights boundaries and structures</small><br/><br/>
                                        
                                        <a href="javascript: void(0);" onclick="edgeDetectionOperation()" title="Upload an image first" id="" class="btn btn-primary operation-btn waves-effect waves-light" data-requires="one">Detect Edges</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingFour">
                                    <h5 class="accordion-faq m-0">
                                        <a class="text-dark" data-bs-toggle="collapse" href="#collapseFour" aria-expanded="false">
                                            <i class="mdi mdi-help-circle me-1 text-primary"></i> 
                                            Threshold Level
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="collapseFour" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <small class="text-muted" style="font-size: small;">
                                            <i class="feather-info me-1"></i>Manually adjusts threshold level with slider:<br/>
                                            (0 = Black, 255 = White Image)
                                        </small>
                                        <input type="range" class="form-range" min="0" max="255" id="thresholdRange">
                                        <p style="font-size: small;">
                                            Threshold value: <strong><span id="thresholdValue">128</span></strong>
                                        </p>

                                        <a href="javascript: void(0);" style="margin-top: 15px;" onclick="applyThreshold()" class="btn btn-primary operation-btn waves-effect waves-light" data-requires="one">Apply Manual Threshold</a>
                                        <small class="text-muted" style="font-size: small; color: rgb(4, 171, 29) !important;">
                                            Otsu's auto selects a threshold that maximizes class separation
                                        </small>

                                        <a href="javascript: void(0);" style="margin-top: 15px;" onclick="autoThreshold()" class="btn btn-warning operation-btn waves-effect waves-light">Use Otsu's Method</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingFive">
                                    <h5 class="accordion-faq m-0">
                                        <a class="text-dark" data-bs-toggle="collapse" href="#collapseFive" aria-expanded="false">
                                            <i class="mdi mdi-help-circle me-1 text-primary"></i> 
                                            Difference Operation (-)
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"  data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <small class="text-muted" style="font-size: small;"><i class="feather-info me-1"></i>Get difference between Two images using - operator</small><br/><br/>
                                        <a href="javascript: void(0);" title="Upload two Images" class="btn btn-primary operation-btn waves-effect waves-light" onclick="differenceOperation()" data-requires="two">Difference</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingSix">
                                    <h5 class="accordion-faq m-0">
                                        <a class="text-dark" data-bs-toggle="collapse" href="#collapseSix" aria-expanded="false">
                                            <i class="mdi mdi-help-circle me-1 text-primary"></i> 
                                            Histogram Equalization
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"  data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <small class="text-muted"><i class="feather-info me-1"></i>Equalize the image</small><br/><br/>
                                        
                                        <a href="javascript: void(0);" title="Upload two Images" class="btn btn-primary operation-btn waves-effect waves-light" onclick="equalizeOperation()" data-requires="one">Equalize</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-1" style="background-color: rgb(235, 241, 242);">
                                <div class="card-header" id="headingSeven">
                                    <h5 class="accordion-faq m-0">
                                    <a class="text-dark" data-bs-toggle="collapse" href="#collapseSeven" aria-expanded="false">
                                        <i class="mdi mdi-help-circle me-1 text-primary"></i>
                                        Border Object Removal
                                    </a>
                                    </h5>
                                </div>

                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-bs-parent="#accordion">
                                    <div class="card-body">
                                    <small class="text-muted" style="font-size: small;">
                                        <i class="feather-info me-1"></i>
                                        Removes incomplete objects touching the image border to ensure accurate analysis.
                                    </small><br/><br/>

                                    <a href="javascript:void(0);"
                                        onclick="clearBorderOperation()"
                                        class="btn btn-primary operation-btn waves-effect waves-light"
                                        data-requires="one">
                                        Remove Border Objects
                                    </a>
                                    <button onclick="toggleOverlay()" style="margin-top: 8px;" class="btn btn-outline-primary">Toggle Overlay</button>

                                </div>
                            </div>
                            </div>
                        </div> <!-- end #accordions-->
                        <div class="cardcard-buttons">
                            <a href="javascript: void(0);"  onclick="resetAll()" class="btn btn-danger waves-effect waves-light">Reset</a>
                        </div>
                    </div>
                    <!-- end card-->
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6" style="flex: 0 0 36%; max-width: 36%;">
                    <div class="dash-widget">
                        <div class="dash-content">
                            <h4 style="color: rgb(55, 0, 158);"> <span style="font-size: large;">Your Uploaded Image</span></h4>
                            <div id="result"></div>
                            <div id="previewContainer" class="mt-3" style="display:none;">
                                <div class="mb-4 text-center">
                                    <p id="titleA" style="display:none;"><strong>Image A</strong></p>
                                    <img id="previewA" class="img-fluid border " />
                                </div>

                                <div class="text-center">
                                    <p id="titleB" style="display:none;"><strong>Image B</strong></p>
                                    <img id="previewB" class="img-fluid border" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6" style="flex: 0 0 36%; max-width: 36%;">
                    <div class="dash-widget">
                        <div class="dash-content dash-count">
                            <h4><span style="font-size: large;">Processed Image Output</span></h4>
                            <img id="processedImage" style="width:100%; display:none;" />
                            <div id="multiResult" style="display:none;">
                                <img id="processedImageTop" style="width:100%; margin-bottom:15px;" />
                                <img id="processedImageBottom" class="fade" style="width:100%;" />
                            </div>
                            <p id="operationName" style="font-weight: bold; color: rgb(149, 5, 189); font-family: Consolas, monospace; display:none; margin-top: 10px;"></p>
                        
                            <canvas id="histogramCanvas" width="400" height="200" style="display:none; border:1px solid #ccc; margin-top: 15px;"></canvas>
                            <div id="saveImageContainer" style="display:none; margin-top: 10px; text-align: right;">
                                <button class="btn btn-success" onclick="saveProcessedImage()">
                                    Save Processed Image ⬇️
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /Page Wrapper -->
    </div>

  <div class="sidebar-overlay" data-reff=""></div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>

  <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

  <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables/datatables.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

<script>
const previewBtn = document.querySelector("button[onclick='showPreview()']");
const fileInput = document.getElementById("fileInput");
previewBtn.disabled = true;

fileInput.addEventListener("change", () => {
    previewBtn.disabled = fileInput.files.length === 0;
});


function showPreview() {
    const input = document.getElementById("fileInput");
    const container = document.getElementById("previewContainer");
    const previewA = document.getElementById("previewA");
    const previewB = document.getElementById("previewB");
    const operationButtons = document.querySelectorAll(".operation-btn");
    const files = input.files;
    const filesCount = files.length;
    const resultBox = document.getElementById("result");
    const titleA = document.getElementById("titleA");
    const titleB = document.getElementById("titleB");


    
    if (filesCount === 0) {
        resultBox.innerHTML = "❌ Please select at least one image.";
        return;
    }

    if (filesCount > 2) {
        resultBox.innerHTML = "⚠️ Please select at most 2 images.";
        return;
    }

    container.style.display = "block";

    // Hide titles by default
    titleA.style.display = "none";
    titleB.style.display = "none";

    // -------- Image A --------
    const readerA = new FileReader();
    readerA.onload = e => {
        previewA.src = e.target.result;
    };
    readerA.readAsDataURL(files[0]);

    // -------- Image B --------
    if (files.length === 2) {
        // Show titles only when TWO images
        titleA.style.display = "block";
        titleB.style.display = "block";

        previewB.style.display = "block";

        const readerB = new FileReader();
        readerB.onload = e => {
            previewB.src = e.target.result;
        };
        readerB.readAsDataURL(files[1]);
    } else {
        // Single image → no titles, no second image
        previewB.style.display = "none";
        previewB.src = "";
    }


    // Enable operation buttons
    operationButtons.forEach(btn => {
        btn.classList.remove("operation-disabled");
        btn.removeAttribute("aria-disabled");

        // If operation requires two images
        if (btn.dataset.requires === "two" && files.length < 2) {
            btn.classList.add("operation-disabled");
            btn.setAttribute("title", "This operation requires two images");
        }
    });
}


</script>

<script>
/* =========================
   IMAGE PROCESSING ACTION
========================= */
function convertToGrayscale() {
    const input = document.getElementById("fileInput");
    const output = document.getElementById("processedImage");

    if (!input.files || input.files.length === 0) {
        alert("Please upload an image first.");
        return;
    }

    const formData = new FormData();
    formData.append("file", input.files[0]);

    fetch("/grayscale", {
        method: "POST",
        body: formData
    })
    .then(res => res.blob())
    .then(blob => {
        output.src = URL.createObjectURL(blob);
        output.style.display = "block";

        // Update operation name
        const opName = document.getElementById("operationName");
        opName.style.display = "block";
        typeWriter("operationName", "Grayscale Conversion Result", 100);

        document.getElementById("saveImageContainer").style.display = "block";

    })
    .catch(err => {
        console.error(err);
        alert("Grayscale conversion failed.");
    });
}


/* =========================
   UI / UX LOGIC
========================= */
document.addEventListener("DOMContentLoaded", function () {

    /* --- Accordion active state --- */
    const accordionItems = [
        { collapse: "collapseOne", header: "headingOne" },
        { collapse: "collapseTwo", header: "headingTwo" },
        { collapse: "collapseThree", header: "headingThree" },
        { collapse: "collapseFour", header: "headingFour" },
        { collapse: "collapseFive", header: "headingFive" },
        { collapse: "collapseSix", header: "headingSix" },
        { collapse: "collapseSeven", header: "headingSeven" }
    ];

    accordionItems.forEach(item => {
        const collapseEl = document.getElementById(item.collapse);
        const headerEl = document.getElementById(item.header);

        if (!collapseEl || !headerEl) return;

        collapseEl.addEventListener("shown.bs.collapse", () => {
            headerEl.classList.add("accordion-active");
        });

        collapseEl.addEventListener("hidden.bs.collapse", () => {
            headerEl.classList.remove("accordion-active");
        });
    });

    // Grayscale active by default
    document.getElementById("headingOne")?.classList.add("accordion-active");


    /* --- Disable operations until image upload --- */
    const operationButtons = document.querySelectorAll(".operation-btn");
    const fileInput = document.getElementById("fileInput");

    // Disable initially
    operationButtons.forEach(btn => {
        btn.classList.add("operation-disabled");
        btn.setAttribute("aria-disabled", "true");
        btn.setAttribute("title", "Upload an image first");
    });

});

//reset all function
function resetAll() {
    window.location.reload();
}

// save processed image
function saveProcessedImage() {
    // Priority: single image > top image > bottom image
    const img =
        document.getElementById("processedImage").style.display !== "none"
            ? document.getElementById("processedImage")
            : document.getElementById("processedImageTop");

    if (!img || !img.src) {
        alert("No processed image to save.");
        return;
    }

    const link = document.createElement("a");
    link.href = img.src;

    // Use operation name as filename if available
    const opName = document.getElementById("operationName");
    const filename = opName && opName.textContent
        ? opName.textContent.replace(/\s+/g, "_").toLowerCase()
        : "processed_image";

    link.download = filename + ".png";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}


// blur function
function applyBlur() {
    const fileInput = document.getElementById("fileInput");
    const blurSelect = document.getElementById("blurFilter");
    const output = document.getElementById("processedImage");
    const kernelSlider = document.getElementById("blurKernel"); 
    
    const kernel = parseInt(kernelSlider.value);


    if (!fileInput.files.length) {
        alert("Please upload an image first.");
        return;
    }

    if (!blurSelect.value) {
        alert("Please select a blur filter.");
        return;
    }

    const formData = new FormData();
    formData.append("file", fileInput.files[0]);
    formData.append("blur_type", blurSelect.value);
    formData.append("kernel", kernel);

    fetch("/blur", {
        method: "POST",
        body: formData
    })
    .then(res => res.blob())
    .then(blob => {
        output.src = URL.createObjectURL(blob);
        output.style.display = "block";
        

        const opName = document.getElementById("operationName");
        opName.style.display = "block";
        typeWriter("operationName", `Blur Filter: ${blurSelect.value} (Kernel = ${kernel})`, 80);

        kernelSlider.disabled = false;
        document.getElementById("saveImageContainer").style.display = "block";


    })
    .catch(err => {
        console.error(err);
        alert("Blur operation failed.");
    });
}


// kerner slider live update
const kernelSlider = document.getElementById("blurKernel");
const kernelValue = document.getElementById("kernelValue");
const debouncedBlur = debounce(applyRealtimeBlur, 120);

kernelSlider.addEventListener("input", () => {
    kernelValue.textContent = kernelSlider.value;
    debouncedBlur(parseInt(kernelSlider.value));
});

// debounce function
function debounce(fn, delay) {
    let timeout;
    return function (...args) {
        clearTimeout(timeout);
        timeout = setTimeout(() => fn.apply(this, args), delay);
    };
}

// real-time kernel update
function applyRealtimeBlur(kernel) {
    const blurType = document.getElementById("blurFilter").value;
    const output = document.getElementById("processedImage");
    const opName = document.getElementById("operationName");

    if (!blurType) return;

    fetch("/blur/realtime", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            blur_type: blurType,
            kernel: kernel
        })
    })
    .then(res => res.blob())
    .then(blob => {
        output.src = URL.createObjectURL(blob);
        output.style.display = "block";

        opName.textContent = `Blur Filter: ${blurType} (Kernel = ${kernel})`;
        opName.style.display = "block";
    });
}



// difference function
function differenceOperation() {
    const files = document.getElementById("fileInput").files;
    if (files.length < 2) {
        alert("Please upload two images for this operation.");
        return;
    }

    const formData = new FormData();
    formData.append("image1", files[0]);
    formData.append("image2", files[1]);

    fetch("/difference", {
        method: "POST",
        body: formData
    })
    .then(res => res.blob())
    .then(blob => {
        const output = document.getElementById("processedImage");
        output.src = URL.createObjectURL(blob);
        output.style.display = "block";

        const opName = document.getElementById("operationName");
        opName.style.display = "block";
        typeWriter("operationName", "Difference Operation Result", 100);
    })
    .catch(err => {
        console.error(err);
        alert("Difference operation failed.");
    });
}

// equalize function
function equalizeOperation() {
    const input = document.getElementById("fileInput");
    const output = document.getElementById("processedImage");

    if (!input.files || input.files.length === 0) {
        alert("Please upload an image first.");
        return;
    }

    const formData = new FormData();
    formData.append("file", input.files[0]);  // single image for equalization

    fetch("/equalize", {
        method: "POST",
        body: formData
    })
    .then(res => res.blob())
    .then(blob => {
        const imgURL = URL.createObjectURL(blob);
        output.src = imgURL;
        output.style.display = "block";

        const opName = document.getElementById("operationName");
        typeWriter("operationName", "Histogram Equalization Result", 100);
        opName.style.display = "block";
        document.getElementById("saveImageContainer").style.display = "block";


        // Draw histogram after image loads
        output.onload = () => {
            drawHistogram(output);
        };
    })
    .catch(err => {
        console.error(err);
        alert("Equalization operation failed.");
    });
}
// histogram drawing function
function drawHistogram(imageElement) {
    const canvas = document.getElementById("histogramCanvas");
    const ctx = canvas.getContext("2d");

    canvas.style.display = "block";

    // Offscreen canvas to read pixels
    const tempCanvas = document.createElement("canvas");
    tempCanvas.width = imageElement.naturalWidth;
    tempCanvas.height = imageElement.naturalHeight;

    const tempCtx = tempCanvas.getContext("2d");
    tempCtx.drawImage(imageElement, 0, 0);

    const imgData = tempCtx.getImageData(0, 0, tempCanvas.width, tempCanvas.height).data;

    // Histogram (256 bins)
    const hist = new Array(256).fill(0);

    for (let i = 0; i < imgData.length; i += 4) {
        const intensity = imgData[i]; // grayscale → R channel
        hist[intensity]++;
    }

    // Normalize
    const maxVal = Math.max(...hist);

    // Clear canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    // Draw histogram bars
    const barWidth = canvas.width / 256;

    for (let i = 0; i < 256; i++) {
        const barHeight = (hist[i] / maxVal) * canvas.height;
        ctx.fillStyle = "#6d078c";
        ctx.fillRect(i * barWidth, canvas.height - barHeight, barWidth, barHeight);
    }
}

// live slider
const slider = document.getElementById("thresholdRange");
const valueLabel = document.getElementById("thresholdValue");

slider.addEventListener("input", () => {
    valueLabel.textContent = slider.value;
});

// manual threshold function
function applyThreshold() {
    const files = document.getElementById("fileInput").files;
    const threshold = document.getElementById("thresholdRange").value;

    if (files.length === 0) {
        alert("Please upload an image first.");
        return;
    }

    const formData = new FormData();
    formData.append("file", files[0]);
    formData.append("value", threshold);

    fetch("/threshold", {
        method: "POST",
        body: formData
    })
    .then(res => res.blob())
    .then(blob => {
        const img = document.getElementById("processedImage");
        img.src = URL.createObjectURL(blob);
        img.style.display = "block";

        const opName = document.getElementById("operationName");
        typeWriter("operationName", `Manual Threshold (T = ${threshold})`, 100);
        opName.style.display = "block";
        document.getElementById("saveImageContainer").style.display = "block";
    })
    .catch(() => alert("Thresholding failed"));
}

// Otsu's threshold function
function autoThreshold() {
    const input = document.getElementById("fileInput");
    const output = document.getElementById("processedImage");
    const opName = document.getElementById("operationName");

    if (!input.files.length) {
        alert("Please upload an image first.");
        return;
    }

    const formData = new FormData();
    formData.append("file", input.files[0]);

    fetch("/auto-threshold", {
        method: "POST",
        body: formData
    })
    .then(res => {
        const otsuValue = res.headers.get("X-Otsu-Threshold");
        return res.blob().then(blob => ({ blob, otsuValue }));
    })
    .then(({ blob, otsuValue }) => {
        output.src = URL.createObjectURL(blob);
        output.style.display = "block";
        typeWriter("operationName", `Otsu’s Threshold Applied (T = ${otsuValue})`, 100);
        opName.style.display = "block";
        document.getElementById("saveImageContainer").style.display = "block";
    })
    .catch(err => {
        console.error(err);
        alert("Otsu thresholding failed.");
    });
}

// Canny Edge Detection function
function edgeDetectionOperation() {
    const input = document.getElementById("fileInput");
    const output = document.getElementById("processedImage");
    const opName = document.getElementById("operationName");

    if (!input.files.length) {
        alert("Please upload an image first.");
        return;
    }

    const formData = new FormData();
    formData.append("file", input.files[0]);

    fetch("/edge-detection", {
        method: "POST",
        body: formData
    })
    .then(res => {
        if (!res.ok) throw new Error("Edge detection failed");
        return res.blob();
    })
    .then(blob => {
        output.src = URL.createObjectURL(blob);
        output.style.display = "block";
        typeWriter("operationName", "Edge Detection (Canny) Result", 100);
        opName.style.display = "block";
        document.getElementById("saveImageContainer").style.display = "block";
    })
    .catch(err => {
        console.error(err);
        alert("Edge detection failed.");
    });
}


// clear border
function clearBorderOperation() {
    const input = document.getElementById("fileInput");

    if (!input.files.length) {
        alert("Please upload an image first.");
        return;
    }

    const formData = new FormData();
    formData.append("file", input.files[0]);

    fetch("/clear-border", {
        method: "POST",
        body: formData
    })
    .then(res => res.json())
    .then(data => {

        // Show container
        const container = document.getElementById("multiResult");
        container.style.display = "block";

        // Get image elements SAFELY
        const topImg = document.getElementById("processedImageTop");
        const bottomImg = document.getElementById("processedImageBottom");

        // Load images
        topImg.src = "data:image/png;base64," + data.overlay;
        bottomImg.src = "data:image/png;base64," + data.clean;

        // Trigger animation AFTER images are set
        requestAnimationFrame(() => {
            animateRemoval();
        });

        // Operation description
        const opName = document.getElementById("operationName");
        typeWriterHTML("operationName", `
            Border Object Removal<br>
            <small>${data.removed} objects touching the border were removed to avoid incomplete structures biasing quantitative analysis. 
            The removed regions are highlighted in red.</small>
        `, 20);
        document.getElementById("saveImageContainer").style.display = "block";


        
        opName.style.display = "block";
    })
    .catch(err => {
        console.error(err);
        alert("Clear border operation failed.");
    });
}

// toggle overlay
function toggleOverlay() {
    const img = document.getElementById("processedImageTop");
    img.style.display = img.style.display === "none" ? "block" : "none";
}

// animate 
function animateRemoval() {
    const img = document.getElementById("processedImageBottom");

    // Reset state
    img.style.opacity = 0;
    img.style.transform = "scale(1.015)";

    // Force browser to apply initial state
    img.offsetHeight;

    // Animate to final state
    img.style.opacity = 1;
    img.style.transform = "scale(1)";
}

//typewriter
function typeWriter(elementId, text, speed = 100) {
    const element = document.getElementById(elementId);
    element.textContent = ""; // clear any existing text
    let i = 0;

    function type() {
        if (i < text.length) {
            element.textContent += text.charAt(i);
            i++;
            setTimeout(type, speed);
        }
    }

    type();
}

//html typewriter
function typeWriterHTML(elementId, htmlString, speed = 50) {
    const element = document.getElementById(elementId);
    element.innerHTML = ""; // clear previous content
    let i = 0;

    function type() {
        if (i < htmlString.length) {
            if (htmlString[i] === "<") {
                // We're at an HTML tag: append entire tag at once
                let endTag = htmlString.indexOf(">", i);
                if (endTag === -1) endTag = i; // fallback
                element.innerHTML += htmlString.substring(i, endTag + 1);
                i = endTag + 1;
            } else {
                element.innerHTML += htmlString.charAt(i);
                i++;
            }
            setTimeout(type, speed);
        }
    }

    type();
}


</script>

</body>

</html>